In [1]:
import numpy as np
import pandas as pd
rnd = np.random.normal(0, 1, 10).tolist()
df = pd.DataFrame(dict(x = range(1,11), y = range(11,21), z = rnd, w = ['a', 'b']*5))
print(df)

    x   y         z  w
0   1  11 -0.486727  a
1   2  12 -0.626219  b
2   3  13  0.877782  a
3   4  14 -0.728031  b
4   5  15  0.273285  a
5   6  16  0.030612  b
6   7  17 -1.894253  a
7   8  18 -0.328457  b
8   9  19  0.198624  a
9  10  20  1.151204  b

In [2]:
df

    x   y         z  w
0   1  11 -0.486727  a
1   2  12 -0.626219  b
2   3  13  0.877782  a
3   4  14 -0.728031  b
4   5  15  0.273285  a
5   6  16  0.030612  b
6   7  17 -1.894253  a
7   8  18 -0.328457  b
8   9  19  0.198624  a
9  10  20  1.151204  b

In [3]:
# mean x within w for z > 0

In [ ]:
df %>% groupby(w) %>%

In [6]:
df.describe()

              x         y          z
count  10.00000  10.00000  10.000000
mean    5.50000  15.50000  -0.153218
std     3.02765   3.02765   0.871222
min     1.00000  11.00000  -1.894253
25%     3.25000  13.25000  -0.591346
50%     5.50000  15.50000  -0.148923
75%     7.75000  17.75000   0.254620
max    10.00000  20.00000   1.151204

In [5]:
df[df.z > 0, ].groupby('w').agg({'x': np.mean})

          x
w
a  5.666667
b  8.000000